@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.row {
    margin-left: 0px;
}

input[type="text"] {
    width: 12em;
}

.alert {
    width: fit-content;
}

.header > tr > th{
    font-weight: bold;
}

input::placeholder {
    color: rgb(171, 171, 171) !important;
}

#parent {
    visibility: hidden;
} 
